## 2022 Common Wealth Games Data Analysis

In [1]:
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt

%matplotlib inline

**create your dataframe and do a high-level overview of the resultant dataframe**

In [8]:
countries = ['Australia', 'England', 'Canada', 'India', 'Scotland', 'New Zealand', 'Nigeria', 'Wales', 'South Africa',
             'Malaysia', 'Kenya', 'North Ireland', 'Jamaica', 'Singapore', 'Cyprus', 'Pakistan', 'Trinidad and Tobago', 
             'Uganda', 'Samoa', 'Mauritius', 'Ghana', 'Fiji', 'Sri Lanka', 'Namibia', 'Barbados', 'Cameroon', 'Zambia', 
             'Mozambique', 'Tanzania', 'Bahamas', 'Grenada', 'Bermuda', 'Botswana', 'Guernsey', 'British Virgin Island',
             'Dominica', 'Gambia', 'Papua New Guinea', 'Saint Lucia', 'Malta', 'Naura', 'Niue', 'Vanuatu']
gold = [66, 56, 26, 22, 13, 20, 12, 8, 7, 6, 6, 7, 6, 4, 2, 2, 3, 3, 1, 0, 0, 0, 0, 0, 1, 
        1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]
silver = [57, 64, 32, 15, 11, 12, 9, 6, 9, 8, 5, 7, 6, 4, 3, 3, 2, 0, 4, 3, 2, 2, 1, 0, 
         1, 1, 1, 2, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0]
bronze = [54, 53, 34, 23, 27, 17, 14, 14, 11, 8, 10, 4, 3, 4, 6, 3, 1, 2, 0, 2, 3, 2, 3, 
          4, 1, 1, 1, 1, 2, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1]

In [9]:
cw_medal = {'country_name': countries, 'gold': gold, 
                      'silver': silver, 'bronze': bronze}

In [10]:
cw_medal_counts = pd.DataFrame(cw_medal)

             country_name  gold  silver  bronze
0               Australia    66      57      54
1                 England    56      64      53
2                  Canada    26      32      34
3                   India    22      15      23
4                Scotland    13      11      27
5             New Zealand    20      12      17
6                 Nigeria    12       9      14
7                   Wales     8       6      14
8            South Africa     7       9      11
9                Malaysia     6       8       8
10                  Kenya     6       5      10
11          North Ireland     7       7       4
12                Jamaica     6       6       3
13              Singapore     4       4       4
14                 Cyprus     2       3       6
15               Pakistan     2       3       3
16    Trinidad and Tobago     3       2       1
17                 Uganda     3       0       2
18                  Samoa     1       4       0
19              Mauritius     0       3       2
20                  Ghana     0       2       3
21                   Fiji     0       2       2
22              Sri Lanka     0       1       3
23                Namibia     0       0       4
24               Barbados     1       1       1
25               Cameroon     1       1       1
26                 Zambia     1       1       1
27             Mozambique     0       2       1
28               Tanzania     0       1       2
29                Bahamas     1       1       0
30                Grenada     1       1       0
31                Bermuda     1       0       1
32               Botswana     0       1       1
33               Guernsey     0       1       1
34  British Virgin Island     1       0       0
35               Dominica     0       1       0
36                 Gambia     0       1       0
37       Papua New Guinea     0       1       0
38            Saint Lucia     0       1       0
39                  Malta     0       0       1
40                  Naura     0       0       1
41                   Niue     0       0       1
42                Vanuatu     0       0       1

In [ ]:
# high-level overview of data shape and composition
print(cw_medal_counts.shape)
print(cw_medal_counts.info())
# print first five rows of the dataset
cw_medal_counts.head(8)

In [13]:
cw_medal_counts['total'] = cw_medal_counts[['gold', 'silver', 'bronze']].apply(np.sum, axis=1)

In [14]:
cw_medal_counts

             country_name  gold  silver  bronze  total
0               Australia    66      57      54    177
1                 England    56      64      53    173
2                  Canada    26      32      34     92
3                   India    22      15      23     60
4                Scotland    13      11      27     51
5             New Zealand    20      12      17     49
6                 Nigeria    12       9      14     35
7                   Wales     8       6      14     28
8            South Africa     7       9      11     27
9                Malaysia     6       8       8     22
10                  Kenya     6       5      10     21
11          North Ireland     7       7       4     18
12                Jamaica     6       6       3     15
13              Singapore     4       4       4     12
14                 Cyprus     2       3       6     11
15               Pakistan     2       3       3      8
16    Trinidad and Tobago     3       2       1      6
17                 Uganda     3       0       2      5
18                  Samoa     1       4       0      5
19              Mauritius     0       3       2      5
20                  Ghana     0       2       3      5
21                   Fiji     0       2       2      4
22              Sri Lanka     0       1       3      4
23                Namibia     0       0       4      4
24               Barbados     1       1       1      3
25               Cameroon     1       1       1      3
26                 Zambia     1       1       1      3
27             Mozambique     0       2       1      3
28               Tanzania     0       1       2      3
29                Bahamas     1       1       0      2
30                Grenada     1       1       0      2
31                Bermuda     1       0       1      2
32               Botswana     0       1       1      2
33               Guernsey     0       1       1      2
34  British Virgin Island     1       0       0      1
35               Dominica     0       1       0      1
36                 Gambia     0       1       0      1
37       Papua New Guinea     0       1       0      1
38            Saint Lucia     0       1       0      1
39                  Malta     0       0       1      1
40                  Naura     0       0       1      1
41                   Niue     0       0       1      1
42                Vanuatu     0       0       1      1

**Average number of bronze medals earned by countries who earned at least one gold medal**

In [15]:
at_least_one_gold = cw_medal_counts.query('gold >= 1')
avg_bronze_at_least_one_gold = at_least_one_gold['bronze']
avg_bronze_at_least_one_gold.mean()

11.23076923076923

In [17]:
avg_bronze = cw_medal_counts['bronze'][cw_medal_counts["gold"] >= 1]

In [18]:
avg_bronze_at_least_one_gold = np.mean(avg_bronze)

In [19]:
avg_bronze_at_least_one_gold

11.23076923076923

### Save new dataframe to csv.

In [20]:
cw_medal_counts.to_csv('2022 Common Wealth Games Data', index=False)